DATABASE_URL=postgresql://ecommerce_user:changeme@localhost:5432/ecommerce-nestjs
JWT_SECRET=your-secret-minimum-32-characters-long-here
APP_BASE_URL=http://localhost:3000
JWT_ACCESS_EXPIRATION=3600
JWT_REFRESH_EXPIRATION=604800
PORT=3000
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000,http://localhost:3001